웹 백엔드 시스템 개발/운영 담당자 채용



* 채용구분

   - 정규직(종합직) 

     ※ 입사 시 최초 3개월 시용 계약 후 평가를 통해 정규직 전환 여부 확정

 

* 주요업무

   [웹 백엔드 시스템 개발/운영]

   - 홈페이지, 모바일웹, MTS 백엔드 개발/운영

   - 마이데이터 백엔드 개발/운영

 

* 필수요건

   - 웹 백엔드 개발/운영 경력 5년 이상

   - Java, Spring, Frameowrk, Open API 개발 경험

   - SQL 튜닝 가능



* 우대요건

   - 금융권 웹 백엔드 개발/운영 경력자 우대

   - 마이데이터 업무 경험자 우대

   - 금융업/정보계 업무 경험자 우대

 

* 공통지원자격

   - 해외여행 및 건강상 결격사유 업는 자

   - 남성의 경우 병역 필 또는 면제자

 

* 접수기간 및 방법

   - 접수기간: 2026년 03월 05일(목) ~ 2026년 03월 18일(수) 15시까지

   - 접수방법: 당사 채용홈페이지(https://recruit.hmsec.com)에서 지원서 접수



* 전형절차

　서류전형 ▶ 1차면접/인성검사 ▶ 2차면접 ▶ 채용검진 ▶ 최종합격



* 기타 안내

   - 입사지원서 및 제출서류 등에 허위사실이 있을 경우 입사/채용이 취소될 수 있습니다.

   - 채용 관련 문의는 당사 채용 홈페이지를 활용해주시기 바랍니다.

   - 적임자가 없을 경우 채용을 진행하지 않을 수 있습니다.